@import "./variable";

* {
  padding: 0;
  margin: 0;
}

.ml-4 {
  margin-left: 1rem;
}

.error {
  color: $error;
}

.primary, .completed, .active {
  color: $primary;
}

.bg-primary {
  background: $primary;
}

.white {
  color: white;
}

.d-flex {
  display: flex;
}

.fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-fill {
  flex: 1 1 auto !important;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-v-center {
  display: flex;
  align-items: center;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

.show {
  display: inherit;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.pl-4, .px-4 {
  padding-left: 1.5rem !important;
}

.pr-4, .px-4 {
  padding-right: 1.5rem !important;
}

.pb-2, .py-2 {
  padding-bottom: .5rem !important;
}

.pt-2, .py-2 {
  padding-top: .5rem !important;
}

.justify-content-end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.fixed {
  position: fixed;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}